@font-face {
    font-family: "norse";
    src: url(./Norse-Bold.otf);
}

:root {
    --background-layer: -100;
    /* Colors */
    --trans-grey: #27262677;
    --background-white: #fafafa;
    --emphasis-white: #fefefe;
    --invalid-red: #e71414;
    --valid-green: #008000;
    --login-green: #145014;
    --selection-blue: #5050f5;
}

/*********************** General layout ***********************/

.background {
    z-index: var(--background-layer);
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

body { 
    margin: 0;
    padding: 0;
}

.layout {
    min-height: 100vh;
    display: flex;
}

/*********************** Logo Sidebar ***********************/

.sidebar {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.logo-box {
    display: flex;
    margin-top: 11rem;
    background-color: var(--trans-grey);
    align-items: center;
    font-family: "norse";
    color: var(--emphasis-white);
    font-size: 2.5rem;
}

.logo {
    max-width: 20%;
    height: auto;
    margin: .5rem 6%;
}

.logo ~ * {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: 4%;
}

/*********************** Main Content ***********************/

.content {
    flex: 5;
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
}

.content-block {
    flex: 1;
    display: flex;
}

/*********************** Header ***********************/

.header {
    align-items: center;
}

h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 400;
    padding: 0;
    margin: 0 7%;
}

/*********************** Input Fields ***********************/

.content-body {
    display: flex;
    flex-direction: column;
    background-color: var(--emphasis-white);
    box-shadow: 2px 5px 5px var(--trans-grey);
    box-sizing: border-box;
    align-items: baseline;
}

.content-body > * {
    padding-top: 1rem;
    padding-left: 7%;
    padding-right: 1rem;
}

.form-inputs {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

h2 {
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
}

label {
    flex-basis: max(120px, 28%);
    margin-right: 12%;
    display: flex;
    flex-direction: column;
}

.form-inputs input {
    border: 1px solid var(--trans-grey);
    border-radius: 3px;
    padding: 3px;
}

.form-inputs input[type="email"]:invalid, input[type="password"]:invalid {
    border: 1px solid var(--invalid-red);
}

.form-inputs input:valid {
    border: 1px solid var(--valid-green);
}

.form-inputs input:focus {
    border: 2px solid var(--selection-blue);
    box-shadow: 2px 2px 1px var(--trans-grey);
    outline: none;
}

/*********************** Footer ***********************/

.content-body + .content-block {
    flex-direction: column;
    gap: 1rem;
}

.content-body + .content-block > * {
    margin-left: 7%;
}

button[type="submit"] {
    background-color: var(--login-green);
    color: var(--emphasis-white);
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    padding: .5em 2em;
    font-size: 1.2rem;
    width: max(120px, 30%);
}

button[type="submit"] + span {  
    margin-bottom: 2rem;
}

a {
    color: var(--login-green);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}